*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 60%;
    margin: auto;
}

/* .blur{
    filter: blur(30px);
}

.sepia{
    filter: sepia();
} */

img{
    filter: grayscale(1);
    transition: all 2s;
}

img:hover{
    filter: grayscale(0);
}